

.name {
  color: white;
  padding-top: 5px;
  padding-left: 15px;
}

.gydlogo {
  width: 100%;
  display: block;
  margin-top: 200px;
}

.click {
  height: auto;
  width: 15%;
  margin: auto;
  display: block;
}

.clickicon {
  width: 100%;
}

.icons {
  width: auto;
  margin-left: 160px;
}

p {

  font-family: sans-serif;
}

@media only screen and (min-width: 1000px) and (max-width: 2300px) {
  .body {
    background-color: #9bc53d;
    min-width: 575px;
  }

  .main {
    margin: auto;
    margin-top: -100px;
    width: 40%;
    display: block;
  }
  p {
    padding-right: 5px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1000px) {
  .body {
    background-color: #9bc53d;
    min-width: 575px;
  }
  .main {
    margin: auto;
    margin-top: -100px;
    width: 40%;
    display: block;
  }
  p {
    padding-right: 5px;
    font-size: 10px;
  }
  .copylogo {
      width: 27px;
  }
}

@media only screen and (max-width: 480px) {
  .body {
    background-color: #9bc53d;
    width: 320px;
  }
  .main {
    margin: auto;
    margin-top: -125px;
    width: 40%;
    display: block;
  }
  p {
    padding-right: 120px;
    font-size: 6px;
  }
  .copylogo {
    width: 20px;
  }
  .gydlogo {
    width: 120%;
    display: block;
    margin-top: 200px;
  }
  .click {
    height: auto;
    width: 15%;
    margin: auto;
    display: block;
  }
  .clickicon {
    width: 125%;
    margin-left: 12px;
  }
}


.glyphicon {
  padding-right: 5px;
}

.copyright {
  margin: auto;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 200px;
  display: block;
  min-width: 260px;
}
